<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <header>
        <h1>View Image</h1>
        <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Inventory</a>
    </header>

    <main>
        <div style="text-align: center;">
            <img src="{{ url_for('uploaded_file', filename=filename) }}" alt="Image" style="max-width: 100%; height: auto;">
        </div>
    </main>
</body>
</html>
